<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="BaseUrl" value="https://api.idolondemand.com/1/api"/>
    <add key="ApiKey" value =  "5e4b5831-473d-402a-b0e4-76fca32ae23e"/>
  </appSettings>
</configuration>